@import "bulma/css/bulma.css";

.feedback-item {
}

.review {
}

.rating-click {
    cursor: pointer;
}

.feedback-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.rating {
    position: relative;
    top: 1.125rem;
    z-index: 1;
}
